/* Слайдер */
.slick-slider {

  /* Слайдер запущен */
  &.slick-initialized {}

  /* Слайдер с точками */
  &.slick-slider.slick-dotted {}
}

/* Ограничивающая оболочка */
.slick-list {}

/* Лента слайдов */
.slick-track {}

/* Слайд */
.slick-slide {

  /* Слайд активный (показывается) */
  &.slick-active {}

  /* Слайд основной */
  &.slick-current {}

  /* Слайд по центру */
  &.slick-center {}

  /* Клонированный слайд */
  &.slick-cloned {}
}


/* Стрелка */
.slick-arrow {

  /* Стрелка влево */
  &.slick-prev {}

  /* Стрелка вправо */
  &.slick-next {}

  /* Стрелка не активная */
  &.slick-disabled {}
}


/* Точки (булиты) */
.slick-dots {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 0;
  column-gap: 30px;

  & li {
    background-color: #363838;
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }

  /* Активная точка */
  & li {

    &.slick-active {
      background-color: #ffef35;
    }

    & button {
      background: transparent;
      height: 8px;
      border: none;
      cursor: pointer;
    }
  }



  /* Элемент точки */
}